@model MyProfile.Models.User
@using Microsoft.AspNetCore.Html
@using Ganss.XSS;

@{
    ViewData["Title"] = "Details";
        var s = new HtmlSanitizer();
            
    var html = new HtmlString( s.Sanitize(Model.Description));
}

<h1>Details</h1>
<hr />
<p>Name : @Model.Name</p>
<p>Age : @Model.Age</p>
<p>Description : </p>
<p>@html</p>

<a asp-action="Index" class="btn btn-link">Back to list</a>

