@model IEnumerable<MyProfile.Models.User>
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>

    @foreach (var user in Model)
    {
        <p>@user.Name</p>
    }

</body>
</html>
