@model MyProfile.Models.Message
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <h2>
       @Model.Body

    </h2>

    <p>
        @ViewData["now"]
    </p>
</body>
</html>
